@media screen and (max-width: 768px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        position: initial;
    }
    header {
        position: initial;
        width: 100%;
        height: 90vh;
        margin: 0;
        border-radius: unset;
        z-index: 2;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: #086972;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        cursor: pointer;
        z-index: 3;
    }
    .nav-links {
        background-color: #17b978;
        color: #086972;
        height: 40vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 2s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(600px at 90% -10%);
        -webkit-clip-path: circle(600px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li { 
        opacity: 0;
        font-weight: bold;
        padding: 5px;
     }
    .nav-links li a { color: #086972; }
    .nav-links li:nth-child(1) { transition: all 0.5s ease 0.2s; }
    .nav-links li:nth-child(2) { transition: all 0.5s ease 0.4s }
    .nav-links li:nth-child(3) { transition: all 0.5s ease 0.6s }
    .nav-links li:nth-child(4) { transition: all 0.5s ease 0.8s }
    li.fade { opacity: 1; }
    .info {
        display: initial;
        width: 100%;
        left: initial;
        top: 40vh;
    }
    .info img {
        display: none;
    }
    .info span:after {
        content: "\a";
        white-space: pre;
    }
    .bio .links {
        width: fit-content;
        margin: 0 auto;
    }
    span:after {
        content: initial;
        white-space: initial;
    }
    .main {
        width: 90%;
        display: initial;
        margin: 2em 0;
        top: 75vh;
        left: 5%;
        right: 5%;
    }
    .main p {
        margin: 15px 0;
        font-size: 13px;
        line-height: 1.5em;
    }

    .projects {
        background-color: #17b978;
        color: #086972;
    }
    .contact {
        background-color: #a7ff83;
        color: #086972;
    }
    .skills section { margin: 2em auto; }
    
}