@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}
html {
    scroll-behavior: smooth
}
.container { 
    position: relative;
    width: 100%;
    height: 100vh;
 }
nav { height: 10vh; }
.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links a {
    color: #EFFAFC;
    text-decoration: none;
    position: relative;
}
.nav-links a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left ;
}
header {
    height: 65vh;
    background-color: #36454f;
    color: #EFFAFC;
    margin: 15px;
    padding: 0;
    border-radius: 5px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}
nav ul img { display: none; }
nav .hideOnDesktop { display: none; }
.info {
    width: 60%;
    display: flex;
    position: absolute;
    left: 20%;
    top: 9vh;
 }
.info .mobileImg { display: none; }
span:after {
    content:"\a";
    white-space: pre;
}
.bio {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}
.bio .links {
    display: flex;
    padding: 10px;
}
.bio .links a {
    text-decoration: none;
    color: #EFFAFC;
    background-color: #203546;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    border-radius: 50%;
}
.main {
    width: 60%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    position: absolute;
    top: 55vh;
    left: 20%;
    right: 20%;
}
.main p { 
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
 }
.main > article { padding: 50px; }
.main h2 { font-size: 20px; }
.about {
    background-color: #203546;
    color: #EFFAFC;
}
.about a {
    background-color: #ED3710;
    padding: 8px 16px;
    display: block;
    width: fit-content;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.skills {
    background-color: #203546;
    color: #EFFAFC;
}
.skills section {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    margin: auto;
    max-width: 100%;
}
.skills section img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.projects {
    background-color: #203546;
    color: #EFFAFC;
    /* border-top: 1px solid #EFFAFC; */
}
.projects img { 
    display: block;
    max-width: 100%;
    filter: grayscale(60%);
    margin: auto;
}
.projects > .project-one, .project-two, .project-three, .project-four {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.projects .icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
.projects .icon {
    text-decoration: none;
    background-color: #11232F;
    color: #EFFAFC;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    border-radius: 50%;
}
.contact {
    background-color: #203546;
    color: #EFFAFC;
}
.contact form {
    background-color: #203546;
    border-radius: 10px;
    width: 80%;
    color: #EFFAFC;
    margin: 2em auto;
}
.contact form .form-group {
    width: 100%;
    font-size: 12px;
    font-weight: bolder;
    margin: 2em auto 0 auto;
}
.contact form .form-group input,
.contact form .form-group textarea {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #EFFAFC;
    background-color: #203546;
    color: #EFFAFC;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    display: block;
}
.contact form .form-group textarea {
    resize: none;
    border-radius: 8px;
    border:1px solid #EFFAFC;
    margin-top: 1em;
}
.contact form button {
    outline: none;
    cursor: pointer;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    display: block;
    background-color: #203546;
    border: 1px solid #EFFAFC;
    color: #EFFAFC;
    font-size: 18px;
}
.contact form button:hover {
    box-shadow: 0 0 5px #EFFAFC;
    -webkit-box-shadow: 0 0 5px #EFFAFC;
}
.contact form #status {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
}
.contact form #status.success {
    color: green;
    animation: status 4s ease forwards;
}
.contact form #status.error {
    color: red;
    animation: status 4s ease forwards;
}
.firstNameErrorMsg {
    color: red;
    font-size: 10px;
    display: none;
}
.lastNameErrorMsg {
    color: red;
    font-size: 10px;
    display: none;
}
.emailErrorMsg {
    color: red;
    font-size: 10px;
    display: none;
}
.messageError {
    color: red;
    font-size: 10px;
    display: none;
}
@keyframes status {
    0% { opacity: 1; pointer-events: all; }
    90% { opacity: 1; pointer-events: all; }
    100% { opacity: 0; pointer-events: none; }
}
.contact-icons a {
    font-weight: lighter;
    text-decoration: none;
    color: #203546;
    padding: 5px;
    display: block;
}

li { font-size: 14px; font-weight: bolder; }
.contact-icons a label {
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    margin-left: 10px;
}
.scrollUpBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #EFFAFC;
    background-color: #203546;
    color: #EFFAFC;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    display: none;
    transition: all .3s;
}
footer {
    color: #203546;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    grid-column: 1 / -1;
}

.pop-up-container {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: none;
}
.pop-up {
    background-color: #EFFAFC;
    color: #36454f;
    width: 25%;
    height: 80vh;
    margin: 10vh auto;
    border-radius: 10px;
}
.pop-up .close-btn {
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
}
.close-btn span { 
    cursor: pointer;
    transition: all 300ms ease-in-out;
 }
.close-btn span:hover { color: #203546; }

.pop-up form {
    width: 70%;
    /* height: inherit; */
    margin: 0 auto;
}
.pop-up form .form-group {
    width: 100%;
    font-size: 14px;
    margin: 1.5em auto 0 auto;
}
.pop-up form .form-group input,
.pop-up form .form-group textarea {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #203546;
    color: #203546;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    display: block;
}
.pop-up form .form-group textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #203546;
    outline: none;
    padding: 5px;
    margin-top: 1em;
}
.pop-up form button {
    outline: none;
    cursor: pointer;
    width: 60%;
    margin: 5px auto;
    padding: 10px 0;
    display: block;
    background-color: #203546;
    border: none;
    border-radius: 20px;
    color: #EFFAFC;
    font-size: 16px;
}
.pop-up form button:hover {
    box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
}
.pop-up form #status {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
}
.pop-up form #status.success {
    color: green;
    animation: status 4s ease forwards;
}
.pop-up form #status.error {
    color: red;
    animation: status 4s ease forwards;
}