@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}
.container { 
    position: relative;
    width: 100%;
    height: 100vh;
 }
nav { height: 10vh; }
.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links a {
    color: black;
    text-decoration: none;
}
.nav-links a:hover { text-decoration: underline; }
header {
    height: 65vh;
    background-color: #5D5C61;
    margin: 15px;
    padding: 0;
    border-radius: 5px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}
.info { 
    /* border: 1px solid yellow; */
    width: 60%;
    display: flex;
    position: absolute;
    left: 20%;
    top: 9vh;
 }
.bio {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}
.bio a {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
.main {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    position: absolute;
    top: 55vh;
    left: 20%;
    right: 20%;
}
.main p { 
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
 }
.main > article { padding: 20px; }
.main h2 { font-size: 20px; }
.about {
    background-color: #313036;
    color: #abaaad;
}
.skills {
    background-color: #abaaad;
    color: #313036;
}
.skills section > i { border: 1px solid black; }
.skills section {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 50px;
}
.skills section img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.projects {
    background-color: #313036;
    color: #abaaad;
}
.contact {
    background-color: #abaaad;
    color: #313036;
}
footer {
    position: absolute;
    bottom: 0;
}




/* RESPONSIVENESS */
/* TO DO --- funset all the positions to see if the nav ahmburger will work */
@media screen and (max-width: 768px){
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    nav { position: relative; }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 12%;
        z-index: 2;
    }
    /* TO DO --- fix width so that links are centered perferctly */
    .nav-links {
        position: fixed;
        background-color: blue;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        /* TO DO --- fix percentage so that animation perferct */
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links links { opacity: 0; }
    .nav-links li a { font-size: 25px; }
    .nav-links li:nth-child(1){ transition: all 0.5s ease 0.2s; }
    .nav-links li:nth-child(2){ transition: all 0.5s ease 0.4s; }
    .nav-links li:nth-child(3){ transition: all 0.5s ease 0.6s; }
    .nav-links li:nth-child(4) { transition: all 0.5s ease 0.8s; }
    li.fade { opacity: 1; }
}