@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}
html {
    scroll-behavior: smooth
}
.container { 
    position: relative;
    width: 100%;
    height: 100vh;
 }
nav { height: 10vh; }
.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links a {
    color: #EFFAFC;
    text-decoration: none;
}
.nav-links a:hover { text-decoration: underline; }
header {
    height: 65vh;
    background-color: #11232F;
    color: #EFFAFC;
    margin: 15px;
    padding: 0;
    border-radius: 5px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}
.info {
    width: 60%;
    display: flex;
    position: absolute;
    left: 20%;
    top: 9vh;
 }
span:after {
    content:"\a";
    white-space: pre;
}
.bio {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}
.bio a {
    text-decoration: none;
    color: #EFFAFC;
    background-color: #203546;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
.main {
    width: 60%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    position: absolute;
    top: 55vh;
    left: 20%;
    right: 20%;
}
.main p { 
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
 }
.main > article { padding: 20px; }
.main h2 { font-size: 20px; }
.about {
    background-color: #203546;
    color: #EFFAFC;
}
.skills {
    background-color: #4DA9DA;
    color: #203546;
}
.skills section {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 50px;
}
.skills section img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.projects {
    background-color: #203546;
    color: #fff;
    border-top: 1px solid #fff;
}
.projects img { max-width: 100%; }
.projects > .project-one, .project-two, .project-three, .project-four {
    margin-top: 10px;
    width: 100%;
}
.projects .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .icon {
    text-decoration: none;
    margin: 5px;
    background-color: #11232F;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.contact {
    background-color: #4DA9DA;
    color: #203546;
}
.contact-icons a {
    font-weight: lighter;
    text-decoration: none;
    color: #203546;
    padding: 5px;
    display: block;
}
.contact-icons a label {
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    margin-left: 10px;
}
.main button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #203546;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    display: none;
    transition: all .3s;
}
footer {
    position: absolute;
    bottom: 0;
}